li{
    list-style: none;
}  
li:before {
    content: '✓';
  }
  #box-position{
      position: relative;
      top: -40px;
 }
 #badge-position{
     position: relative;
     top: -10px;
     left: 250px;
 }
 .footer-logo{
     width: 135px;
     height: 40px;
 }
 .footer{
     width: 100%;
     height: 180px;
 }